body {
  background-color: black;
  color: white;
}

h1 {
  color: #01939A;
  font-weight:normal;
  font-style:italic;
  font-family: "Lucida Console";

  border-bottom: solid 1px #01939A;
  padding-bottom: 7px;
}

div.container {
  background-color: #222;
  color:white;
}

div.flash {
  position:absolute;
  top:0;
  right:0;
  font-weight:bold;
  color:white;
}

div.flash_error {
  background: #812000;
} 

div.flash_notice {
  background: #008148;
}

ul.menu{
  border-bottom: 1px #01939A solid;
  color: white;
  font-family: "Arial";
  font-size: 18px;
  text-align: right;
  padding: 0px;
  margin-bottom:0px;
  margin-top:0px;
}

ul.menu li{
  color: white;
  font-family: "Arial";
  font-size: 18px;
  display: inline;
  list-style: none;
  text-align:center;
}

ul.menu a{
  color: white;
  font-family: "Arial";
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
}

ul.menu a:hover, a.selected{
}

div.content_container {
  background-color: #EEE;
  padding-top: 20px;
}

div.side_panel {
  border: solid 1px black;
}
